.ant-bit-editor {
  width: 100%;
  min-height: 300px;
  position: relative;

  textarea {
    height: 100%;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: none;
    outline: none;
    resize: none;
    background: transparent;
  }
}
